@{
    ViewData["Title"] = "All Notes";
}
@model List<SharpNotes.Models.Note>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-striped">
        <thead class="thead-light"">
            <tr>
                <th scope=" col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created at</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <th scope="row">@note.Id</th>
                    <td>@note.Title</td>
                    <td>@note.Created</td>
                    <td>
                        <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.Id"
                               aria-label="Open @note.Title details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                <path
                                d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
